
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->

<head>


    <title>oexam-在线考试系统</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__PUBLIC__/assets/css/global.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/assets/javascripts/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/javascripts/slideshow.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/javascripts/date.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/javascripts/validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/javascripts/rollovers.js"></script>
</head>

<body>

<!-- Background -->
<div id="background">

    <!-- Container -->
    <div id="container">
        <!-- Notebook -->
        <div id="shadow"><!-- --></div>
        <div id="notebook"><!-- --></div>
        <!-- Logo -->
        <h1 id="logo"><a href="__APP__">oexam</a></h1><hr />
        <!-- Blog & Login -->
        <div id="login"><a href="{:U('Login/index')}">登录</a></div>
        <div id="register_s"><a href="{:U('Register/index')}"></a></div>
        <div id="register_t"><a href="{:U('Register/index_t')}"></a></div>
        <hr />
        <!-- Why 13 -->
        <div id="why13">
            <h2>Why 13?</h2>
        </div><hr />
        <!-- __PUBLIC__/assets/images -->
        <div id="frame"><!--  --></div>
        <div id="slideshow">
            <img src="__PUBLIC__/assets/images/index/index7.jpg" style="width: 562px;height: 372px" class="active" />
            <img src="__PUBLIC__/assets/images/index/index8.jpg"  style="width: 562px;height: 372px" />
            <img src="__PUBLIC__/assets/images/index/index9.jpg"  style="width: 562px;height: 372px" />
        </div>
    </div>
</div>
</body>
</html>